module noctalia-greeter 1.1;

require {
    type xdm_t;
    class dir { add_name getattr open read remove_name search write };
    class file { create getattr open read rename setattr unlink write };
}

type noctalia_greeter_var_lib_t;

allow xdm_t noctalia_greeter_var_lib_t:dir {
    add_name
    getattr
    open
    read
    remove_name
    search
    write
};

allow xdm_t noctalia_greeter_var_lib_t:file {
    create
    getattr
    open
    read
    rename
    setattr
    unlink
    write
};
